@model StationsRoomsVM

@{
    ViewData["Title"] = "All Rooms Page";
}

<div class="container-fluid">

    <!-- Content Row -->

    <h1 class="text-center text-success mb-5">All Rooms</h1>
    <div>

        <table class="table table-striped text-center text-white">
            <thead>
                <tr>
                    <th>
                        Station Name
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Imgae
                    </th>
                    <th>
                        Price In Hour
                    </th>
                    <th>
                        Allowed people
                    </th>
                    <th>
                        No. of Rooms
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model.AllStationsRooms)
                {
                    <tr>
                        <td>@room.GameStation.Name</td>
                        <td>@room.Name</td>
                        <td>
                            <img src="~/Assets/Images/RoomsImages/@room.PrimaryImage" alt="Name" class="imgroom"
                                 style="max-width: 60px; max-height: 80px" />
                        </td>
                        <td><p>@room.Price RY</p></td>
                        <td>@room.NumberOfAllowedPeople</td>
                        <td>@room.Unit</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <!-- End of Main Content -->
</div>

@section Scripts {
    <script>
        $('table').DataTable();
    </script>
}