@model RoomsInStationVM

@{
    ViewData["Title"] = "Rooms in Station Page";
}

<div class="container-fluid">

    <!-- Content Row -->

    <h1 class="text-center text-success"><strong>@Model.StationName</strong></h1>
    <h2 class="text-center text-success mb-5">Rooms</h2>
    <div>

        <table class="table table-striped text-center text-white">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Imgae</th>
                    <th>Price In Hour</th>
                    <th>Allowed people</th>
                    <th>No. of Rooms</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model.Rooms)
                {
                    <tr>
                        <td>@room.Name</td>

                        <td>
                            <img src="~/Assets/Images/RoomsImages/@room.PrimaryImage" alt="Name" class="imgroom"
                                 style="max-width: 60px; max-height: 80px" />
                        </td>

                        <td><p>@room.Price YR</p></td>

                        <td>@room.NumberOfAllowedPeople</td>

                        <td>@room.Unit</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- End of Main Content -->
</div>