@model CreateGameFormVM

@{
    ViewData["Title"] = "Create Game Page";
}

<div class="container-fluid">

    <!-- Content Row -->


    <div>
        <!-- Content -->
        <form asp-controller="Games" asp-action="Create" enctype="multipart/form-data" id="gameForm">
            <div class="row">

                <div class="col-lg-6 col-12">

                    <div class="text-success">
                        <h2 class="mb-0">Creating New Game</h2>
                    </div>
                    <hr />

                    <div class="form-group mt-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input type="text" class="form-control shadow-none" asp-for="Name" placeholder="Enter game name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="CategoryId" class="form-label"></label>

                        <select class="form-control" asp-for="CategoryId" asp-items="Model.Categories">
                            <option value="">Select a category</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                        
                    </div>

                    <div class="form-group">
                        <label asp-for="Descraption" class="form-label"></label>
                        <textarea asp-for="Descraption" class="form-control shadow-none" placeholder="Enter game descraption"></textarea>
                        <span asp-validation-for="Descraption" class="text-danger"></span>

                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="Developer" class="form-label"></label>
                        <input type="text" class="form-control shadow-none" asp-for="Developer" placeholder="Enter game developer">
                        <span asp-validation-for="Developer" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="Release" class="form-label"></label>
                        <input type="text" class="form-control shadow-none" asp-for="Release" placeholder="Enter game release year">
                        <span asp-validation-for="Release" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Cover" class="form-label"></label>
                        <input type="file" class="form-control shadow-none" asp-for="Cover" data-rule-extension="@FileSettings.AllowedExtensions.Replace(".", string.Empty)" data-msg-extension="Only @FileSettings.AllowedExtensions are allowed" data-rule-maxfilesize="@FileSettings.MaxFileSizeInBytes" data-msg-maxfilesize="Maximum allowed size is @FileSettings.MaxFileSizeInMB MB">
                        <small class="form-text text-muted">Only @FileSettings.AllowedExtensions files are allowd with max size @FileSettings.MaxFileSizeInMB MB</small>
                        <span asp-validation-for="Cover" class="text-danger d-block"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SelectedDevices" class="form-label"></label>

                        <div class="form-check d-flex pl-0" id="deviceCheckboxes">

                            @foreach (var device in Model.Devices)
                            {
                                <div style="margin-right: 40px;">
                                    <input type="checkbox" 
                                           name="SelectedDevices" 
                                           value="@device.Value"
                                           @(Model.SelectedDevices.Contains(int.Parse(device.Value)) ? "checked" : "") />
                                    <label class="form-label" for="device_@device.Value">@device.Text</label>
                                </div>
                            }
                        </div>

                        <span id="selectedDevices-error" class="text-danger"></span>
                        <span asp-validation-for="SelectedDevices" class="text-danger"></span>

                    </div>
                    

                </div>


                <div class="col-lg-6  col-12 justify-content-center pt-5 overflow-hidden">
                    <label class="form-label" style="margin-left: 17%;">Cover Preview</label>
                    <div style="border: 2px solid white;width: 320px;height: 420px; border-radius: 10px;margin-left: 17%;">
                        <img class="cover-preview d-none rounded" alt="Cover" style="width: 316px; height: 416px;"/>
                    </div>
                </div>


                <button type="submit" class="text-white btn btn-success" style="margin-left: 1vw; margin-top: 1vw; width: 70px;">Create</button>
                <a asp-action="Index" class="text-white btn btn-secondary" style="margin-left: 1vw; margin-top: 1vw; width: 70px;">Cancel</a>
            </div>

        </form>

    </div>
    <!-- End of Main Content -->
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $.validator.addMethod('maxfilesize', function(value, element, param) {
            var IsValid = this.optional(element) || element.files[0].size <= param;

            return IsValid;
        });

        $(document).ready(function () {
            $('#Cover').on('change', function () {
                $('.cover-preview').attr('src' , window.URL.createObjectURL(this.files[0])).removeClass('d-none');
            });
        });

        $(document).ready(function () {
            $("#gameForm").submit(function (event) {
                var checkedDevices = $('input[name="SelectedDevices"]:checked');
                if (checkedDevices.length === 0) {
                    event.preventDefault(); // Prevent form submission
                    $("#selectedDevices-error").text("Please select at least one device.");
                } else {
                    $("#selectedDevices-error").text(""); // Clear any previous error message
                }
            });
        });
    </script>
}