@using GameZone.Helpers
@using GameZone.Models
@model IEnumerable<Game>

@{
    ViewData["Title"] = "All Games Page";
}

<div class="container-fluid">

    <h1 class="text-center text-success mb-5">All Games</h1>


    <!-- Content Row -->
    <div class="mt-5">
        <p>
            <a href="/Admin/Games/Create" class="btn btn-success">Create New</a>
        </p>
        
        @if (!Model.Any())
        {
            <div class="alert alert-primary">
                <h3 class="alert-heading"><strong>No Games!</strong></h3>
                <p class="mb-0"><strong>There is no games yet.</strong></p>
            </div>
        }
        else
        {
            <table class="table table-striped text-white">
                <tbody>
                    @foreach(var game in Model)
                    {
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="pr-4">
                                        <img src="@($"{FileSettings.GamesImagesPath}/{game.Cover}")" alt="Name" style="max-width: 70px" />
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h4 class="text-white"> <strong>@game.Name</strong></h4>
                                        @switch (game.Category.Name)
                                        {
                                            case "Action":
                                                <h5><span class="badge bg-danger">@game.Category.Name</span></h5>
                                                break;
                                            case "Adventure":
                                                <h5><span class="badge bg-primary">@game.Category.Name</span></h5>
                                                break;
                                            case "Sport":
                                                <h5><span class="badge bg-success">@game.Category.Name</span></h5>
                                                break;
                                            case "CO-OP":
                                                <h5><span class="badge bg-warning">@game.Category.Name</span></h5>
                                                break;
                                            case "Arcade":
                                                <h5><span class="badge bg-secondary">@game.Category.Name</span></h5>
                                                break;
                                            case "Racing":
                                                <h5><span class="badge bg-info">@game.Category.Name</span></h5>
                                                break;
                                            
                                        }
                                    </div>
                                </div>
                            </td>

                            <td class="align-middle">
                                <div class="d-flex justify-content-end">
                                    <a asp-area="Admin" asp-controller="Games" asp-action="Edit" asp-route-id="@game.Id" class="btn btn-warning rounded rounded-3 mr-2 w-25 font-weight-bold">Edit</a>
                                    <a href="javascript:;" class="btn btn-danger rounded rounded-3 mr-2 w-25 font-weight-bold js-delete" data-id="@game.Id">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        
    </div>

    <!-- End of Main Content -->
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);

                bootbox.confirm({
                     message: "Are you sure that you need to delete this game?",
                     buttons: {
                         confirm: {
                             label: 'Yes',
                             className: 'btn-danger'
                         },
                         cancel: {
                             label: 'No',
                             className: 'btn-success'
                         }
                     },
                     centerVertical: true,  
                     onShown: function(e) { 
                         e.preventDefault(); 
                         document.activeElement.blur(); 
                     },
                     callback: function (result) {
                         if (result) {
                             $.ajax({
                                 url: '/Admin/Games/Delete/' + btn.data('id'),
                                 type: 'POST',
                                 method: 'DELETE',
                                 data: {
                                     '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                                 },
                                 success: function () {
                                     btn.closest('tr').fadeOut(500, function () {
                                         $(this).remove();
                                     });
                                 },
                                 error: function () {
                                     alert('An error occurred while deleting the game.');
                                 }
                             });
                         }
                     }
                });

            });
        });
    </script>
}