@using GameZone.Helpers
@model GameDetailsVM

@{
    ViewData["Title"] = "Game Details Page";
}

<section class="container" style="margin-top: 200px; margin-bottom: 200px;">
    <div class="col-12">
        <div class="col-lg-10 mx-auto text-center">
            <h2 class="section-title mb-0">Game Details</h2>
            <div class="section-border mt-4"></div>
        </div>
    </div>
    <div class="card border-success rounded-4 mt-5 overflow-hidden">
        <div class="card-body bg-card p-0">
            <div class="row align-items-center">
                <div class="col-md-8 px-5 py-4 d-flex flex-column justify-content-between">
                    <div>
                        <h1 class="text-success fw-bold">@Model.Game.Name</h1>
                        <span class="badge bg-danger text-light fs-5 mb-4">@Model.Game.Category.Name</span>
                        <div class="fs-5">
                            <p class="fw-bold fs-5">General Information</p>
                            <p><span class="fw-bold">Developer:</span> @Model.Game.Developer</p>
                            <p><span class="fw-bold">Release:</span> @Model.Game.Release</p>
                            <p class="d-flex align-items-center gap-2 mb-0">
                                <span class="fw-bold">Platforms:</span>
                                @foreach (var device in Model.SupportedDevices)
                                {
                                    <i class="@device.Icon fs-4 text-info"></i>
                                }
                            </p>

                            <p class="d-flex align-items-center gap-2 pt-3 mb-0">
                                <span class="fw-bold">Available in:</span>
                                @if (Model.IsAvailableInStations)
                                {
                                    <div class="d-flex align-items-center gap-2 flex-nowrap">
                                        <select id="stationSelect"
                                                class="form-control form-control h-100 w-50"
                                                style="height: 34px;">
                                            <option value="" selected disabled>Choose Station</option>
                                            @foreach (var station in Model.AvailableStations)
                                            {
                                                <option value="@station.Id">@station.Name</option>
                                            }
                                        </select>
                                        <button id="goToStationBtn"
                                                class="btn btn-primary btn-sm h-100"
                                                style="height: 30px;">
                                            Go
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <span class="text-danger ms-2">Not available in any station.</span>
                                }
                            </p>
                        </div>
                        <p class="pt-3"><span class="fw-bold">Description:</span></p>
                        <p>@Model.Game.Descraption</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img style="height: 31vw; object-fit: cover;" src="@FileSettings.GamesImagesPath/@Model.Game.Cover" alt="Cover Image" />
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#goToStationBtn").click(function () {
                const selectedStationId = $("#stationSelect").val();

                if (!selectedStationId) {
                    alert("⚠️ Please select a station first!");
                    return;
                }

                $.ajax({
                    url: "/GameStations/StationDetails",
                    type: "GET",
                    data: { stationId: selectedStationId },
                    success: function (response) {
                        $("#stationDetails").html(response);
                    },
                    error: function () {
                        alert("❌ Error occurred!.");
                    }
                });
            });
        });
    </script>
}