@using GameZone.Helpers
@model List<GamesInCategoryVM>

@{
    ViewData["Title"] = "Games Page";
}

<section class="section teams pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="col-lg-10 mx-auto text-center">

                    <h2 class="section-title mb-0">Games</h2>

                    <div class="section-border mt-4"></div>
                </div>
            </div>
        </div>

        @foreach (var category in Model)
        {
            <div class="container mt-5">
                <div class="row mb-n-1">
                    <div class="col-8 pl-0">
                        <h3 class="pt-x-1">
                            @category.Category.Name
                            <span>
                                <img src="~/Assets/images/chevron-right.svg" alt="">
                            </span>
                        </h3>
                    </div>

                    <div class="col-4 text-right pr-0">
                        @if (category.totalGamesCount > 4)
                        {
                            <a class="btn btn-primary"
                               asp-controller="Games"
                               asp-action="GetGamesBasedOnCategory"
                               asp-route-categoryId="@category.Category.Id">
                                More
                            </a>
                        }
                    </div>
                </div>
            </div>

            <div class="row position-relative">

                @foreach (var game in category.Games)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6 mt-4">

                        <div class="card bg-transparent border-0 text-center">

                            <div class="card-img">
                                <img src="@FileSettings.GamesImagesPath/@game.Cover" alt="Cover Image" class="rounded w-100 gray-image" width="300" height="332">
                                <a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails" asp-route-gameId="@game.Id">
                                    Learn More
                                </a>
                            </div>

                            <div class="card-body">
                                <h3>@game.Name</h3>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>